{% extends 'polls/base.html' %}

{% block content %}

<div class="row column text-center">    
    <div class="row">
         <div class="small-12 medium-3 columns">
           <img src="/static/img/fff.png"/>
         </div>
        <br>
         <div class="small-12 medium-9 columns">
          <div class="hero-slider-slide-content">
            <h3>군생활 당도 측정기</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo consectetur arcu ut aliquam. Nullam rhoncus tellus dolor, eu mollis libero suscipit at. Mauris imperdiet aliquam consectetur. Curabitur ac massa dapibus, viverra neque eu, lacinia nisi.</p>
            <div>
              <button class="hollow button" type="button"><img src="https://placehold.it/20x20"/> 
                  <a href="{% url 'polls:check' %}">측정 시작하기</a>
                </button>
            </div>
          </div>
        </div>
      </div>
  </div>



{% endblock %}


